body {
	background: #E6E6E6 url(https://raw.githubusercontent.com/sonjinhyuk/HSsystem/master/web/tt/images/6828.jpg);
	 margin: 0px 0px 0px 0px;
 }

 table {
	width: 100%;
  }
  
  table, th, td {
	border: 1px solid #bcbcbc;
  }
 .homepage {
	width: 180px;
	 display: block;
	 margin: 0px auto;
	 margin-top: 30px;
 }

 .line {
	background-color: #0B2161;
	height: 5px;
	width: 1000px;
	text-align: center;
 }

 #page {
	width: 1200px;
	height: 1100px;
	margin: 0px auto;
	background-color: white;
	overflow: hidden;
	box-shadow: 0px 0px 20px rgba(0,0,0,.3);
 }

 #Ptitle {
	text-align: center;
	margin-right: 550px;   
 }
#container {
   position:absolute;
   top:35%;
   left:50%;
   transform:translate(-50%, -50%);
}

#id {
position:absolute;
   top:100%;
   left:50%;
   transform:translate(-50%, -50%);
}